@import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap");

:root {
  --primary-color: #282a3a;
  --secondary-color: #fefefe;
}

html.dark {
  --primary-color: #fefefe;
  --secondary-color: #282a3a;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

html {
  transition: all 0.5s ease-in;
}

.dark-mode {
  --black: #fbfcfe;
  --white: #092635;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.toggle {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.toggle:hover {
  transform: scale(1.05);
}

.toggle:focus {
  outline: none;
}

.container {
  background-color: var(--secondary-color);
  color: (var(--primary-color));
  border: 3px var(--primary-color) solid;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.code-container {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.code {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /* caret-color: transparent; */
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid var(--secondary-color);
  margin: 1%;
  text-align: center;
  font-weight: 300;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border-color: #03c988;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: var(--primary-color);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}
